* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(93, 128, 255);
}

.task.done {
  text-decoration: line-through;
}

.logo img {
  width: 300px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;
  width: 80%;
}

.logo {
  margin-top: 100px;
  margin-bottom: 50px;
}

.input-area {
  margin-bottom: 50px;
  width: 100%;
}

.input-and-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-error {
  display: flex;
  flex-direction: column;
}

.input-and-button input {
  width: 100%;
  padding: 15px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
}

.input-and-button button {
  padding: 15px;
  border-radius: 10px;
  color: white;
  background-color: rgb(53, 53, 236);
  border: none;
  font-weight: bold;
}

.tasks-area {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 50%;
  width: 100%;
}

.tasks-area ul {
  list-style: none;
}

.tasks-area li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.tasks-area li:not(:last-child) {
  border-bottom: 1px solid black;
}

.tasks-area span{
  display: block;
  width: 100%;
}

.error{
  display: block;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
}